.administration {}

.administration__inner {}

.administration__inner__title {
    padding-top: 3.8rem;

    @include tablet{
        max-width: 49.3rem;
        margin: 0 auto;
    }

    @include mobile{
        padding-top: 1.6rem;
    }
}

.administration__inner__subtitle {
    padding-bottom: 5rem;

    @include mobile{
        padding-bottom: 3.5rem;
    }
}

.administration__inner__text {
    color: #3A3A3A;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 1rem;
}

.administration__inner__subtext {
    color: #7E7E7E;
    text-align: center;
    font-size: var(--size--main);

}

.administration__inner__box {
    display: flex;
    align-items: flex-start;
    column-gap: 5.1rem;
    margin-top: 5.1rem;

    @include for-desktop{
     flex-direction: column; 
    }

}

.administration__inner__box__item {
    flex-basis: 50%;
    background: #FFF;
    border-top: 6px solid #00AEF1;
    

    &:last-child {
        border-top-color: #8AB35E;
    }

    &:not(:first-child) {
        padding: 4rem 4rem 2.5rem 3rem;
        border: 1px solid #DBECEC;
        border-top: 6px solid #8AB35E;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), #E5F1F1;

        & .administration__inner__box__item__list {
            row-gap: 1rem;
            margin-bottom: 2.8rem;

            &>li {
                font-size: 12px;
                line-height: 16px;
            }
        }

        @include for-desktop{
            border-top: 1px solid #DBECEC;
        }

        @include mobile{
            padding-left: 2.6rem;
            padding-right: 2.4rem;
        }
    }

    &:first-child>.administraition__inner__border__box {
        padding: 4rem 4rem 5.5rem 3rem;
        border: 1px solid #DBECEC;

        @include for-desktop{
            padding-bottom: 3.7rem;
        }

        @include mobile{
            border-top: 6px solid #00AEF1;
            padding-left: 2.6rem;
            padding-right: 2.4rem;
        }
    }

    & img {
        margin-bottom: 2.7rem;
    }

    @include for-desktop{
        border-top: 1px solid #DBECEC;
    }
}

.administration__inner__box__item__title {
    color: #3A3A3A;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 0.9rem;
}

.administration__inner__box__item__text {
    color: #7E7E7E;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 2.5rem;
}

.administration__inner__box__item__list {
    row-gap: 2.1rem;

    &>li {
        max-width: none;
    }

    &>li::before {
        height: 2rem;

        @include mobile{
            margin-right: 0.5rem;
        }
    }
}

.administration__inner__box__item__package {
    margin-top: 3.7rem;
    padding-left: 2rem;
    border-left: 5px solid #F00;

    @include for-desktop{
        margin-bottom: 3.4rem;
    }
}

.administration__inner__box__item__package__title {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 2.3rem;

    @include mobile{
        letter-spacing: -0.1px;
    }
}

.administration__inner__box__item__package__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #3A3A3A;
    padding-bottom: 1.5rem;
}

.administration__inner__box__item__package__links {
    display: flex;
    column-gap: 1.8rem;
    justify-content: space-between;
    margin-bottom: 2.3rem;

    @include mobile{
        flex-direction: column;
        row-gap: 1rem;
    }

    &>a {
        display: block;
        width: 100%;
        white-space: nowrap;
        color: #FFF;
        font-size: 16px;
        text-align: center;
        border-radius: 4px;
        line-height: 50px;        
    }
}

.administration__inner__box__item__package__additional {
    color: #3A3A3A;
    font-weight: 400;
}