.contacts {
    background: #E5F1F1;
    padding-top: 7.4rem;
    padding-bottom: 10.6rem;

    @include tablet{
        padding-bottom: 4.4rem;
        padding-top: 4.4rem;
    }

    @include mobile{
        padding-top: 3.4rem;
    }
}

.contacts__inner {}

.contacts__inner__title {
    text-align: left;
}

.contacts__inner__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4rem;
    padding-top: 5rem;

    @include tablet{
        padding-top: 3rem;
        flex-wrap: wrap;
        row-gap: 3rem;
    }

    @include mobile{
        padding-top: 2.1rem;
    }
}

.contacts__inner__box__item {
    flex-basis: 33.3%;

    @include tablet{
        flex-basis: 46%;
        display: flex;
        flex-direction: column;
    }

    @include mobile{
        flex-basis: unset;
    }
}

.contacts__inner__box__item__title {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 3rem;
}

.contacts__inner__box__item__text {
    display: block;
    color: #3A3A3A;
    font-size: 14px;
    line-height: 24px;

    &:not(:last-child){
        padding-bottom: 1.5rem;
    }
}

.geo, .mail, .tel {
    display: inline-flex;
    
    &::before{
        flex-shrink: 0;
        content: '';
        width: 24px;
        height: 24px;
        display: block;
        margin-right: 0.8rem;
    }
} 
.geo {
    
    &::before{
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%3E%20%20%20%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20d=%22M12.0288%202.00005C7.41977%201.98439%203.6551%205.65135%203.50463%2010.2414L3.5%2010.5263C3.57661%2012.7761%204.34207%2014.9207%205.69028%2016.6876L6.00692%2017.1008C7.2938%2018.7371%208.82311%2020.1733%2010.5403%2021.3571L10.9537%2021.6354L11.014%2021.6828C11.6026%2022.1057%2012.3973%2022.1057%2012.9858%2021.6828L13.036%2021.6415C14.3986%2020.7579%2015.655%2019.7196%2016.7805%2018.5473C19.0686%2016.1252%2020.4477%2013.4112%2020.4998%2010.655L20.4999%2010.5526C20.5155%205.93192%2016.8598%202.15567%2012.284%202.00469L12.0288%202.00005ZM12.0237%203.51747C15.8022%203.53038%2018.87%206.54942%2018.9839%2010.3091L18.9871%2010.6406C18.9434%2012.9514%2017.7334%2015.3324%2015.6866%2017.4991C14.6429%2018.5862%2013.4727%2019.5526%2012.2036%2020.3745L12.119%2020.438C12.0506%2020.4974%2011.9492%2020.4974%2011.8809%2020.438L11.7987%2020.376C9.90797%2019.1416%208.24857%2017.583%206.89636%2015.7717C5.80718%2014.3442%205.16175%2012.6374%205.03184%2010.8569L5.01275%2010.4999C5.02559%206.71221%208.03532%203.63498%2011.7835%203.52071L12.0237%203.51747ZM11.9999%207.40129C10.2115%207.40129%208.76176%208.85554%208.76176%2010.6495C8.76176%2012.4434%2010.2115%2013.8976%2011.9999%2013.8976C13.7883%2013.8976%2015.2381%2012.4434%2015.2381%2010.6495C15.2381%208.85554%2013.7883%207.40129%2011.9999%207.40129ZM11.9999%208.91871C12.9528%208.91871%2013.7253%209.69359%2013.7253%2010.6495C13.7253%2011.6053%2012.9528%2012.3802%2011.9999%2012.3802C11.047%2012.3802%2010.2745%2011.6053%2010.2745%2010.6495C10.2745%209.69359%2011.047%208.91871%2011.9999%208.91871Z%22%20fill=%22#2E83FF%22/%3E%20%3C/svg%3E);    
    }
}

.mail {
    &::before{
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%3E%20%20%20%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20d=%22M16.5253%203.00005L7.45618%203C4.28665%203%202%205.56151%202%208.85897V15.141C2%2018.4385%204.28665%2021%207.45618%2021H16.5168C18.0392%2020.9829%2019.4802%2020.3421%2020.5126%2019.2266C21.5449%2018.111%2022.0786%2016.6183%2021.9893%2015.0959L21.9906%208.85897C22.0786%207.38171%2021.5449%205.88895%2020.5126%204.77344C19.4802%203.65794%2018.0392%203.01705%2016.5253%203.00005ZM7.45618%204.52843L16.5084%204.52838C17.6073%204.54072%2018.6532%205.00592%2019.4026%205.81562C20.152%206.62533%2020.5393%207.70887%2020.4745%208.81389L20.4732%2015.141C20.5393%2016.2911%2020.152%2017.3747%2019.4026%2018.1844C18.6532%2018.9941%2017.6073%2019.4593%2016.5084%2019.4716H7.45618C5.16279%2019.4716%203.51744%2017.6284%203.51744%2015.141V8.85897C3.51744%206.37155%205.16279%204.52843%207.45618%204.52843ZM18.024%208.63837C17.7622%208.30886%2017.2847%208.25555%2016.9576%208.5193L12.8583%2011.8242L12.7408%2011.9068C12.2575%2012.2095%2011.6228%2012.1816%2011.1598%2011.8181L7.03057%208.51731L6.93763%208.4536C6.61736%208.26727%206.20141%208.34031%205.96461%208.64086C5.70412%208.97146%205.75904%209.45216%206.08726%209.71453L10.2217%2013.0195L10.383%2013.1375C11.4231%2013.8459%2012.8013%2013.8067%2013.7988%2013.0236L17.9058%209.71255L17.9882%209.63551C18.24%209.36261%2018.2621%208.93792%2018.024%208.63837Z%22%20fill=%22#2E83FF%22/%3E%20%3C/svg%3E);
    }
}

.tel {
    &::before{
        background-image: url(data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2224%22%20height=%2224%22%20viewBox=%220%200%2024%2024%22%20fill=%22none%22%3E%20%20%20%3Cpath%20fill-rule=%22evenodd%22%20clip-rule=%22evenodd%22%20d=%22M6.47548%202.00361L6.44703%202.00173C5.13019%201.94046%203.2719%203.52383%202.58526%204.66906C1.83186%205.69814%201.81737%207.06475%202.47529%208.6455L2.57901%208.8842C4.31265%2013.1537%2010.818%2019.6509%2015.0709%2021.4297C16.6981%2022.191%2018.1483%2022.2049%2019.291%2021.3821C20.2956%2020.8078%2021.9431%2018.8968%2021.8955%2017.5396C21.8503%2016.9812%2021.5907%2016.5254%2021.1875%2016.1104L21.0891%2016.0127L20.8152%2015.7594C19.8234%2014.8725%2018.1062%2013.6098%2017.5751%2013.4982C16.9515%2013.3682%2016.5286%2013.4846%2015.8616%2013.8523L15.6132%2013.9936C15.1389%2014.2671%2014.9693%2014.3139%2014.7446%2014.2319C12.3717%2013.2578%2010.6985%2011.5761%209.71791%209.16394C9.65417%208.98522%209.68569%208.82913%209.89193%208.4507L10.0006%208.25773C10.4502%207.47256%2010.6009%207.02869%2010.4593%206.34521L10.4343%206.25664C10.202%205.58042%208.77842%203.67254%207.98799%202.84195L7.86065%202.71312C7.44871%202.30856%206.99574%202.0484%206.47548%202.00361ZM6.36497%203.46397L6.4192%203.47438C6.5141%203.50117%206.62602%203.56689%206.75204%203.67518L6.84383%203.75911L7.01708%203.9415C7.68914%204.68353%208.99113%206.43341%209.03419%206.64265C9.07489%206.83908%209.02988%207.00325%208.81663%207.39014L8.70506%207.58738C8.23546%208.40967%208.0901%208.93988%208.35996%209.68968C9.4991%2012.4936%2011.4597%2014.464%2014.2214%2015.5971C14.9336%2015.8575%2015.4386%2015.7534%2016.1539%2015.3657L16.399%2015.2273C16.8844%2014.9466%2017.0621%2014.8857%2017.2784%2014.9308C17.4898%2014.9752%2019.3814%2016.3949%2020.0749%2017.0621L20.1559%2017.1426C20.3347%2017.3268%2020.4325%2017.4985%2020.443%2017.6259C20.4526%2017.9236%2020.1545%2018.483%2019.6281%2019.0935C19.2534%2019.5281%2018.7668%2019.9725%2018.5559%2020.1198L18.5055%2020.1524C17.8239%2020.6389%2016.9821%2020.6598%2015.8691%2020.1855L15.6572%2020.0908C11.8121%2018.4818%205.76508%2012.488%204.01861%208.54808L3.91511%208.30456C3.37395%207.10758%203.32905%206.2325%203.71762%205.5958L3.79554%205.47919C4.24591%204.73347%205.60316%203.55891%206.27894%203.4685L6.36497%203.46397ZM14.4217%202.24373L14.5206%202.24805C18.4503%202.68669%2021.5537%205.803%2021.9954%209.75343C22.0403%2010.155%2021.7529%2010.5171%2021.3535%2010.5622C20.9541%2010.6074%2020.5939%2010.3184%2020.549%209.91687C20.1833%206.64586%2017.6138%204.06559%2014.36%203.70241C13.9605%203.65782%2013.6726%203.29611%2013.717%202.8945C13.7539%202.55982%2014.0099%202.30305%2014.3254%202.25256L14.4217%202.24373ZM14.4813%205.70096L14.5795%205.7134C16.5878%206.10696%2018.1572%207.6848%2018.5487%209.70396C18.6256%2010.1006%2018.3681%2010.4848%2017.9736%2010.5621C17.5791%2010.6394%2017.197%2010.3805%2017.1201%209.98391C16.8421%208.54969%2015.7276%207.42921%2014.301%207.14966C13.9065%207.07236%2013.6491%206.68817%2013.726%206.29155C13.7901%205.96104%2014.0661%205.7262%2014.3846%205.70184L14.4813%205.70096Z%22%20fill=%22#2E83FF%22/%3E%20%3C/svg%3E);
    }
}