.servers {
    padding-top: 3.6rem;

    @include mobile {
        padding-top: 1.6rem;
    }
}

.servers__inner {}

.servers__inner__subtitle {
    padding-bottom: 7.6rem;

    @include tablet {
        padding-bottom: 4.3rem;
    }

    @include mobile {
        padding-bottom: 3.8rem;
    }
}

.servers__inner__wrapper {}

.servers__inner__wrapper__item {
    border-radius: 6px;
    border: 1px solid #CCDFDF;
    background: #FFF;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(11, 1fr);
    border-left: 5px solid #8AB35E;
    padding: 1.4rem 1.3rem 1.4rem 3.2rem;

    &:not(:last-child) {
        margin-bottom: 1.6rem;

        @include mobile {
            margin-bottom: 1rem;
        }
    }

    &:last-child {
        margin-bottom: 9rem;

        @include tablet {
            margin-bottom: 5.8rem;
        }

        @include mobile {
            margin-bottom: 1rem;
        }
    }

    @include tablet {
        grid-template-rows: min-content;
        grid-template-columns: repeat(5, 1fr);
        padding: 0;
        padding-left: 4.5rem;
    }

    @include mobile {
        padding-left: 1.8rem;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: repeat(3, 1fr);
    }
}


.servers__inner__wrapper__item__name {
    color: #3A3A3A;
    font-size: 20px;
    grid-column: 4 span;
    margin: 0;
    padding: 0;

    @include tablet {
        font-weight: 400;
        order: -2;
    }

    @include mobile {
        padding: 1.9rem 0 1.2rem;
        order: unset;
    }
}

.servers__inner__wrapper__item__desc {
    grid-column: 1 span;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;

    &:nth-child(6) {
        grid-column: 2 span;
        flex-direction: row;
        align-items: center;
        color: #528F8F;
        text-align: center;
        justify-content: center;
        font-size: 28px;
        font-weight: 700;

        &>dd,
        &>dt {
            color: inherit;
        }

        &>dd {
            padding-left: 1rem;
            font-weight: 400;

            @include tablet {
                font-size: var(--size--main);
                font-weight: 400;
            }

            @include mobile {
                padding-top: 0.9rem;
            }
        }

        &>dt {
            font-weight: 700;
            font-size: 2.8rem;
        }

        @include tablet {
            grid-column: 1 span;
            order: -1;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            background: #DBECEC;
            height: 100%;
            flex-direction: column;
            padding-top: 2.1rem;
        }

        @include mobile {
            order: unset;
            flex-direction: row;
            background-color: unset;
            grid-column: 3 span;
            justify-content: flex-start;
            padding-top: 0;
        }
    }

    &>dt {
        color: #3A3A3A;
        font-size: 20px;
        font-weight: 700;
    }

    &>dd {
        color: #979797;
        font-size: 14px;
    }

    & dd,
    & dt {
        margin: 0;
        padding: 0;
    }

    &:not(:nth-child(6)) {
        @include tablet {
            padding-bottom: 1.65rem;
            position: relative;
            top: -1rem;
        }

        @include mobile {
            padding-bottom: 0;
            top: 0;
            margin-bottom: 1.25rem;
        }
    }
}

.servers__inner__wrapper__item__link {
    border-radius: 4px;
    background: #DBECEC;
    color: #528F8F;
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    padding: 0.6rem 2.4rem;
    text-align: center;
    grid-column: 1 span;
    border: 1px solid transparent;
    transition: all 0.3s linear;

    @include tablet-min{
        &:hover {
            border-color: var(--blue-100);
            color: var(--blue-100);
            background: var(--hover-white);
        }
    }

    @include tablet {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        padding: 0;
        height: 100%;
    }

    @include mobile {
        line-height: 56px;
    }
}

.servers__inner__dedicated__mobile.herovirtual__inner__carts {

    @include mobile {
        display: block;
        margin-bottom: 4.4rem;
    }
}