.notice {
    background: #E5F1F1;  
}

.notice__inner {
}
.notice__inner__title {
    color: #3A3A3A;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-top: 5.6rem;
    padding-bottom: 1.5rem;

    @include mobile{
        padding-top: 4.5rem;
    }
}
.notice__inner__subtitle {
    color: #7E7E7E;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: block;
    

    &+&{
        padding-bottom: 5.4rem;

        @include mobile{
            padding-bottom: 4.6rem;
        }
    }
}