.serverbenefits {
    background: #E5F1F1;
}


.serverbenefits__inner {}

.serverbenefits__inner__title {
    @include tablet {
        text-align: left;
    }

    @include mobile{
        text-align: center;
    }
}


.serverbenefits__inner__wrapper {
    margin-top: 7.5rem;
    padding-bottom: 16.7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 9rem;
    column-gap: 1rem;

    @include tablet {
        margin-top: 5.9rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 5.2rem;
        padding-bottom: 7.7rem;
    }

    @include mobile {
        display: block;
        margin-top: 3.8rem;
        padding-bottom: 5.6rem;
    }
}

.serverbenefits__inner__wrapper__item {
    grid-column: 1 span;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>img {
        margin-bottom: 1.9rem;
        transition: all 0.3s linear;

        &:hover{
            transform: scale(1.2);
        }

        @include mobile {
            grid-column: 1;
            grid-row-start: 1;
            grid-row-end: 3;
            margin: 0;
        }
    }

    &:not(:last-child) {
        @include mobile {
            margin-bottom: 3rem;
        }
    }

    @include tablet {
        align-items: flex-start;
    }

    @include mobile {
        display: grid;
        grid-template-columns: 64px 1fr;
        grid-template-rows: repeat(1fr, 1fr);
        row-gap: 0.5rem;
        column-gap: 2rem;
        align-items: center;
    }

}

.serverbenefits__inner__wrapper__item__title {
    margin: 0;
    padding: 0;
    color: #3A3A3A;
    font-size: 20px;
    margin-bottom: 1.1rem;

    @include mobile {
        grid-column: 1 span;
        margin: 0;
    }
}

.serverbenefits__inner__wrapper__item__subtitle {
    color: #7E7E7E;
    font-size: 14px;
    line-height: 24px;

    @include mobile {
        grid-column: 1 span;
        grid-row: 2;
    }
}