<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__inner__row">
                <img src="./assets/images/sprite.svg#header--burger" class="svg-header--burger-dims icon__burger" alt="header--burger" width="37" height="22" data-burger>
                <ul class="header__inner__burger list-reset" data-burgermenu>
                    <li class="header__inner__burger__img resetmp">
                        <img src="./assets/images/sprite.svg#svg--close" class="svg-svg--close-dims" alt="svg--close" width="17" height="17" data-close>
                    </li>
                    <li class="header__inner__burger__title resetmp">Services</li>
                    <li class="header__inner__burger__link resetmp"><a href="">Domains</a></li>
                    <li class="header__inner__burger__link resetmp"><a href="./administration.html">Administration</a></li>
                    <li class="header__inner__burger__link resetmp"><a href="">SSL</a></li>
                    <li class="header__inner__burger__link resetmp"><a href="">Virtual servers</a></li>
                    <li class="header__inner__burger__link resetmp"><a href="./dedicated.html">Dedicated servers</a></li>
                    <li class="header__inner__burger__link resetmp"><a href="./hosting.html">Hosting</a></li>
                    <li class="header__inner__burger__title resetmp">For cliens</li>
                    <li class="header__inner__burger__link resetmp"><a href="./about.html">About us</a></li>
                    <li class="header__inner__burger__link resetmp"><a href="./knowledge.html">Knowledge base</a></li>
                    <li class="header__inner__burger__link resetmp"><a href="">Payment</a></li>
                    <li class="header__inner__burger__link resetmp"><a href="">Control panel</a></li>
                    <li class="header__inner__burger__link resetmp"><a href="">Contract</a></li>
                    <li class="header__inner__burger__link resetmp"><a href="">Personal Data processing</a></li>
                    <li class="header__inner__burger__title resetmp">For partners</li>
                    <li class="header__inner__burger__link resetmp"><a href="./affiliate.html">Affiliate program</a></li>
                    <li class="header__inner__burger__link resetmp"><a href="./reselling.html">Reselling program</a></li>
                    <li class="header__inner__burger__button resetmp">Ask a question</li>
                </ul>
                <ul class="header__inner__row__nav list-reset">
                    <li><a href="./affiliate.html">Affiliate program</a></li>
                    <li><a href="./knowledge.html">Knowledge base</a></li>
                    <li><a href=""><img src="./assets/images/sprite.svg#header--russianFlag" alt="russian_language" width="24" height="17"><span>Русская версия</span></a></li>
                </ul>
            </div>
            <div class="header__inner__row">
                <a href="./index.html" class="header__inner__row__col">
                    <img src="./assets/images/sprite.svg#header--Logo" alt="Logo" width="248" height="60">
                    <h1 style="display: none;"></h1>
                </a>
                <nav class="header__inner__row__col">
                    <ul class="header__inner__row__col__menu list-reset">
                        <li><a href="">Virtual servers</a></li>
                        <li><a href="./dedicated.html">Dedicated servers</a></li>
                        <li><a href="./hosting.html">Hosting</a></li>
                        <li><a href="!#">All services <img src="./assets/images/sprite.svg#header--menu_arrow" alt="arrow" width="12" height="8"></a>
                            <ul class="header__inner__row__col__menu__submenu list-reset">
                                <li><a href="">Domains</a></li>
                                <li><a href="">Administrator</a></li>
                                <li><a href="">SSL</a></li>
                                <li><a href="">ISPmanager</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="header__inner__row__col">
                    <a href="" class="header__inner__row__col__control reset">
                       <span>Control panel</span><img src="./assets/images/sprite.svg#header--controlPanel" alt="controlPanel" width="19" height="19">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
